@media (max-width: 1200px){}
@media (max-width: 1024px){}
@media (max-width: 991px){}

@media (max-width: 778px) {
    .container{
        max-width: 730px;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }
    /* HERO */
    .hero_content-title{
        font-size: 45px;   
    }
    /* HERO */
    /* PLACE */
    .place_cards-title {
        font-size: 30px;
    }
    /* PLACE */
    /* RECIPES */
    .recipes_content-subtitle{
        font-size: 12px;    
    }   
        /* RECIPES */

}
@media (max-width: 600px) {
    .container {
        max-width: 570px;
    }
    /* HERO */
    .hero_content-title{
        font-size: 40px; 
        margin-left: 50px;  
    }
    /* HERO */
    /* PLACE */
    .place_cards-title {
        font-size: 20px;
        margin: 25px 0;
    }
    .place_btn{
        padding: 8px 25px;
    }
     /* PLACE */
     /* COLLECTION */
    .collection .col-3{
        width: 100%;
     }
     .collection .d-flex{
        display: block;
     }
     /* COLLECTION */
    /* RECIPES */
    .recipes_content-subtitle{
        display: none;
    }
    .recipes_title{
        font-size: 25px;
    }
    .recipes_content-title{
        font-size: 12px;
    }
     /* RECIPES */
     /* CHALLENGE */
    .challenge_content-title {
        font-size: 25px;
    }
    /* CHALLENGE */
    /* FOOTER */
    .footer_info{
        font-size: 12px;
    }
    .footer_logo{
        font-size: 15px;
    }
    .link_icon{
        font-size: 15px; 
    }
    .link_icon:not(:last-child){
        padding-right:20px;
    }  
    /* FOOTER */
}
@media (max-width: 544px) {
    /* BURGER MENU */
    .mobile-menu{
        display: block;
        position: absolute;
        top: 15px;
        right: 40px;
        z-index: 9;
    }
    .menu_wrap{
        visibility: hidden;
        opacity: 0;
    }
    .menu_wrap.menu_active{
        visibility: visible;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9;
        transition: all 0.7s;

    }
    .menu_wrap.menu_active .menu a{
        display: block;
        text-align: center;
        margin: auto;
        z-index: 9;
        padding-top: 10px;
    }
    /* BURGER MENU */
    /* CHALLENGE */
    .challenge_content-title {
        font-size: 22px;
    }
    /* CHALLENGE */
    /* COLLECTION */
    .collection_title{
        font-size: 30px;
    }
    /* COLLECTION */
}
@media (max-width: 480px){
    /* HEADER */
    .header_container{
        height: 60px;
    }
    .header_logo {
        font-size: 40px;
    }
    /* HEADER */
    /* HERO */
    .hero_content-title{
        font-size: 35px;   
    }
    /* HERO */
    /* PLACE */
    .place-subtitle {
        margin: 50px 0;
    }
    .place-subtitle{
        font-size: 13px;   
    }
    .place_cards-title {
        font-size: 15px;
    }
    /* PLACE */
    /* COLLECTION */
    .collection {
        padding: 70px 0;
    }
    /* COLLECTION */
    /* RECIPES */
    .recipes {
        padding: 70px 0;
    }
    .recipes_title {
        font-size: 20px;
        text-align: center;
    }
     /* RECIPES */
     /* CHALLENGE */
    .challenge_content-title {
        font-size: 20px;
    }
    /* CHALLENGE */
    /* FOOTER */
    .footer_info {
        font-size: 10px;
    }
    .link_icon {
        font-size: 12px;
    }
    .link_icon:not(:last-child) {
        padding-right: 15px;
    } 
    /* FOOTER */      
}
@media (max-width: 420px){
    /* HERO */
    .hero_content-title{
        font-size: 30px;   
    }
     /* HERO */
     /* PLACE */
    .place_btn{
        padding: 6px 20px;
        font-size: 11px;
    }
    /* PLACE */
    /* COLLECTION */
    .collection_title {
        font-size: 25px;
    }
    /* COLLECTION */
    /* FOOTER */
    .footer_info {
        font-size: 8px;
    }
    .link_icon {
        font-size: 10px;
    }
    .link_icon:not(:last-child) {
        padding-right: 10px;
    }  
    /* FOOTER */
}
@media (max-width: 375px){}
   



