@media (max-width: 1200px){}
@media (max-width: 1024px){
    .container {
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }
    /* FORM */
    .form_inp {
        width: 570px;
    }
    .form_btn {
        width: 570px;
    }
    /* FORM */    
}
@media (max-width: 991px){}
@media (max-width: 778px) {
    .container{
        max-width: 730px;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }
    .form .row{
        display: block;
    }
    .col-6{
        width: auto;
    }
    /* CHALLENGE */
    .challenge_content-title {
        font-size: 31px;
    }
     /* CHALLENGE */
    /* FORM */
    .form{
        padding: 80px 0;
    }
    .form_flex{
        text-align: center;
    }
    .form_content-title{
        text-align: center;
    }
    .form_inp {
        width: 500px;
        padding: 15px 0 15px 15px;
    }
    .form_btn {
        width: 500px;
        padding: 18px 0;
        font-size: 15px;
    }
    .form_details-title {
        font-size: 15px;
    }
    .form_contacts {
        margin-bottom: 24px;
    }
      /* FORM */
    /* FOOTER */
    .footer_info{
        font-size: 12px;
    }
    .footer_logo{
        font-size: 15px;
    }
    .link_icon{
        font-size: 15px; 
    }
    .link_icon:not(:last-child){
        padding-right:20px;
    }  
    /* FOOTER */
}
@media (max-width: 600px) {
    .container {
        max-width: 570px;
    }
   /* FORM */
    .form{
        padding: 50px 0;
    }
    .form_inp {
        width: 400px;
        padding: 10px 0 10px 10px;
    }
    .form_btn {
        width: 400px;
        padding: 10px 0;
        font-size: 12px;
    }
    .form_details-title {
        font-size: 12px;
        margin-top: 0;
    }
    .form_contacts {
        margin-bottom: 14px;
    }
    .form_details-subtitle{
        margin-top: 0  ;
    }
      /* FORM */
    
}
@media (max-width: 544px) {
    /* BURGER MENU */
    .mobile-menu{
        display: block;
        position: absolute;
        top: 15px;
        right: 40px;
        z-index: 9;
    }
    .menu_wrap{
        visibility: hidden;
        opacity: 0;
    }
    .menu_wrap.menu_active{
        visibility: visible;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9;
        transition: all 0.7s;

    }
    .menu_wrap.menu_active .menu a{
        display: block;
        text-align: center;
        margin: auto;
        z-index: 9;
        padding-top: 10px;
    }
    /* BURGER MENU */
    /* CHALLENGE */
    .challenge_content-title {
        font-size: 21px;
    }
    .form_content-title {
        font-size: 17px;
    }
    /* CHALLENGE */
    /* FORM */
    .form{
        padding: 50px 0;
    }
    .form_inp {
        width: 350px;
        padding: 8px 0 8px 8px;
    }
    .form_btn {
        width: 350px;
        padding: 8px 0;
        font-size: 10px;
    }
    .form_details-title {
        font-size: 10px;
        margin-top: 0;
    }
    .form_contacts {
        margin-bottom: 14px;
    }
   
      /* FORM */

}
@media (max-width: 480px){
    /* HEADER */
    .header_container{
        height: 60px;
    }
    .header_logo {
        font-size: 40px;
    }
    /* HEADER */
      /* FORM */
      .form{
        padding: 50px 0;
    }
    .form_inp {
        width: 300px;
        padding: 5px 0 5px 5px;
    }
    .form_btn {
        width: 300px;
        padding: 5px 0;
        font-size: 8px;
    }
    .form_details-title {
        font-size: 8px;
    }
    .form_contacts {
        margin-bottom: 10px;
    }
      /* FORM */
    /* FOOTER */
    .footer_info {
        font-size: 10px;
    }
    .link_icon {
        font-size: 12px;
    }
    .link_icon:not(:last-child) {
        padding-right: 15px;
    } 
    /* FOOTER */      
}
@media (max-width: 420px){
    /* CHALLENGE */
    .challenge_content-title {
        font-size: 15px;
    }
    /* CHALLENGE */
    /* FORM */
    .form_inp {
        font-size: 10px;
    }
    .form_content-title {
        font-size: 14px;
    }
     /* FORM */
    /* FOOTER */
    .footer_info {
        font-size: 8px;
    }
    .link_icon {
        font-size: 10px;
    }
    .link_icon:not(:last-child) {
        padding-right: 10px;
    }  
    /* FOOTER */
}
@media (max-width: 375px){
    /* CHALLENGE */
    .challenge_content-title {
        font-size: 12px;
    }
    /* CHALLENGE */

}
   



