@import "./fonts.css";
/* BASE CONFIG */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #f3f3f3;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
.container {
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;    
}
.col-4 {
    width: 33.33%;
}
.col-3 {
    width: 25%;
    padding: 0 10px;
}
.col-6{
    width: 50%;
    padding: 0 10px;

}
.f-w {
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
    margin: 0 -10px;    
}
.j-b {
    justify-content: space-between;
}
.j-c{
    justify-content: center;
}
.a-c{
    align-items: center;
}
/* BASE CONFIG */
/* MOBILE-MENU */
.menu-btn{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
}
.menu-btn span:nth-child(1){
    display: block;
    width: 20px;
    height: 2px;
    background-color: #737373;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -4px;
}
.menu-btn span:nth-child(2){
    display: block;
    width: 16px;
    height: 2px;
    background-color: #737373;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(2px);
    margin-left: -10px;
    margin-top: -2px;
}
.menu-btn span:nth-child(3){
    display: block;
    width: 12px;
    height: 2px;
    background-color: #737373;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(5px);
    margin-left: -10px;
    margin-top: -1px;
}
.mobile-menu{
    display: none;
}
/* HEADER */
.header{
    background-color: #f3f3f3;
}
.header_container{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;    
}
.menu{
    text-align: center;
    height: 60px;
}
.header_logo{
    color: #000000;
    font-weight: 700;
    font-size: 50px;
}
.header_link{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #373535;
    opacity: 0.9;
    transition: 0.5s;
    position: relative;
}
.header_link:not(:last-child){
    margin-right: 60px;
}
.header_link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}
.header_link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
.header_svg{
    color: #373535;
    width: 25px;
    transition: .6s;
    text-align: center;
}
.header_svg:hover{
    color:  #b02323;
}
/* HEADER */
/* HERO */
.hero{
    background: url(../img/hero.jpg) no-repeat center/cover;
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;

}
.hero_content-title{
    font-weight: 500;
    font-size: 55px;
    letter-spacing: 7px;
    color: #525252;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #fff, 0 0 1em aliceblue, 0 0 0.2em gainsboro;
}
/* HERO */
/* PLACE */
.place_cards-img{
    width: 100%;
}
.place_content{
    width: 50%;
}
.place-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #525252;
    margin: 80px 0;   
}
.place_cards{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.place_cards-title{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: 20px;
}
.hover-image-scale {
    display: inline-block; 
    overflow: hidden; /* Скрываем всё за контуром */
  }
  .hover-image-scale img {
    transition: 1s; /* Время эффекта */
    display: block; 
  }
  .hover-image-scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
.place_btn {
	  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    background-color: transparent;
    border: 2px solid #525252;
    border-radius: 5px;
    font-size: 15px;
    line-height: 1;
    margin: 15px;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-color: 373535;
    color: #fff;
    box-shadow: 0 0 40px 40px #525252 inset, 0 0 0 0 #525252;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.place_btn:hover {
	color: #373535;
    box-shadow: 0 0 10px 0 #373535 inset, 0 0 10px 4px #373535;
}
.place_btn:hover, .placebtn:focus {
    outline: 0;
}
/* PLACE */
/* collection*/
.collection{
    padding: 100px 0;
    background: #fff;
}
.collection-cards-img{
    height: 100%;
    width: 100%;

}
.collection_title{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: 50px;
}
.collection-cards-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #525252;
}
.hover-effect-scale {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
    transition: .4;
}
.hover-effect-scale div {
    position: relative;
    display: inline-block;
    margin: 0;
    border: 2px solid #fff;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
/* Заголовок, текст и ссылка */
.hover-effect-scale div .collection-cards-title{
    color: #f3f3f3;
    margin: 5px;
}
.hover-effect-scale div .collection-cards-links {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #525252;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}
.hover-effect-scale div .collection-cards-links:hover {
    background: #fff;
    color: #525252;
}
/* Выезжающий блок с текстом */ 
.hover-effect-scale div  div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hover-effect-scale div:hover  div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hover-effect-scale div div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
}
.hover-effect-scale div .collection-cards-img {
    transition: all 0.2s linear;
}
.hover-effect-scale div:hover img {
    transform: scale(1.3);
}
.hover-effect-scale div:hover div {
    opacity: 1;
}
/* collection*/
/* RECIPES */
.recipes{
    padding: 100px 0;
}
.recipes_content{
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.recipes_title{
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #373535;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.recipes_img{
    width: 100%;  
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
      transition:         transform .8s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.90) 0px 0px 15px;
    }
.recipes_img:hover{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.recipes_content-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000; 
    margin-bottom: 10px;
    text-align: center; 
}
.recipes_content-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000; 
    margin-bottom: 10px;
    text-align: center;
}
.recipes_links{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000; 
    position: relative;
}
.recipes_links:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.7s; /* Время эффекта */
}
.recipes_links:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.7s;  /* Время эффекта */
}
/* RECIPES */
/* CHALLENGE */

.challenge_content-img{
     width: 100%;
}
.challenge_content-title{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 2px #494a4a, 0 0 1em aliceblue, 0 0 0.2em gainsboro;
}
.challenge_content-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}
.challenge_link{
    text-decoration: underline;
}
/* Общие стили */
*, *:after, *:before {  
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.challenge_content {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	
}
.challenge_content figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #494a4a;
	text-align: center;
	cursor: pointer; 
}
.challenge_content figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.challenge_content figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.challenge_content figure figcaption::before,
.challenge_content figure figcaption::after {
	pointer-events: none;
}
.challenge_content figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.challenge_content figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect {
	background: #494a4a;
}
figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect figcaption {
	text-align: left;
}
figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*CHALLENGE  */
/* FOOTER */
.footer{
    padding: 20px 0;
}
.heart{
    color: #b02323;
}
.line{
    background: #373535;
    border-radius: 0px;
    height: 3px;
    margin-bottom: 30px;}
.footer_info{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #373535;
    text-transform: uppercase;
}
.footer_logo{
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}
.link_icon{
    color:  #b02323;
    font-size: 20px; 
    transition: 0.4s;  
}
.link_icon:not(:last-child){
    padding-right:20px;
}
/* FOOTER */

